<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-7 mrgnbtm">
      <h2>Create User</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Keyword</label>
            <input type="text" class="form-control" formControlName="keyword" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search for a keyword">
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="exampleInputPassword1">Start time</label>
          <input type="text" class="form-control" formControlName="start_time" id="exampleInputPassword1" placeholder="2022-06-28T15:00:00z">
        </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="exampleInputPassword1">End time</label>
          <input type="text" class="form-control" formControlName="end_time" id="exampleInputPassword1" placeholder="2022-06-29T15:00:00z">
        </div>
      </div>
        <button type="submit" [disabled]="!userForm.valid" class="btn btn-danger">Search</button>
      </form>
    </div>
    <div class="col-md-4 mrgnbtm">
      <app-display-board
       [userCount]="userCount"
       (getUsersEvent)="getAllUsers()"
      >
      </app-display-board>
    </div>
  </div>
</div>
<div class="mrgnbtm">
  <app-users *ngIf="users.length !== 0" [users]="users"></app-users>
</div>
