<div class="container">
  <h2>Users</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Keyword</th>
        <th>Total Searches</th>
        <th>Total Likes</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{user.keyword}}</td>
        <td>{{user.total_results}}</td>
        <td>{{user.total_likes}}</td>
        <td>{{user.timestamp | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>
</div>
